body {
    background-color: #EDEDED;
}

h1 {
	font-family: "arial"; 
	text-align: center;
	margin-top: 3%;
	margin-bottom: 3%;
}

h2 {
	font-family: "arial";
	font-size: 24px;
	text-align: left;
	margin-left: 20px;
}

h3 {
	font-family: "arial";
	font-size: 20px;
	color: #B3B3B3;
	text-align: left;
	margin-left: 15px;
}

.xml_container {
	font-family: "arial";
	background-color: #FFFFFF;
	width: 60%;
	height: 60%;
	margin-left: 20%;
	margin-right: 20%;
	position: absolute;
}

.effect1 {
	-webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
}

.text-center{
	text-align: center;
}

#drop_zone{
	
	text-align: center;
	padding: 10px;
	border-radius: 10px;
	width: 30%;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: #629BF0;
	font-family: "arial";
}

#event{
	font-family: "arial";
	text-align: center;
	font-size: 18px;
}

#headline{
	font-family: "arial";
	text-align: center;
	font-size: 18px;	
}

.upload {
	position: relative;
	overflow: hidden;
	margin: 10px;
	width: 100%;
	height: 90%;

}
.upload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 1;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
}